{% extends "adoptions/plantilla.html" %}
{% block contenido %}
<br><br><br>
<div class="container">
<div class="row">
  {% for pub in publications %}
  <div class="col-md-4 mb-4">
    <div class="card" style="width: 18rem;">

      {% if pub.image_path %}
        <img src="{{ pub.image_path.image_path.url }}" class="card-img-top" alt="{{ pub.pet.name }}" style="height:200px; object-fit:cover;">
    {% else %}
        <h1>SIN IMAGEN</h1>
    {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ pub.pet.name }}</h5>
        <p class="card-text">{{ pub.pet.description }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Género: {{ pub.pet.gender }}</li>
        <li class="list-group-item">Edad: {{ pub.pet.age }}</li>
      </ul>

      {% if not request.user.is_authenticated %}

         <div class="card-body" style="text-align: center;">
          <a href="/iniciarSesion" class="btn btn-success">Adoptar</a>
          
          
        </div>
      {% else %}
      
        <div class="card-body" style="text-align: center;">
          <a href="adoptar/{{pub.pet.id}}" class="btn btn-success">Adoptar</a>
          

        </div>
    {% endif %}




    </div>
  </div>
  {% endfor %}
</div>
</div>

{% endblock %}
