{% extends "adoptions/plantilla.html" %}
{% block contenido %}

<div class="row">
  {% for pub in publications %}
  <div class="col-md-4 mb-4">
    <div class="card" style="width: 18rem;">

  {% if pub.image %}
        <img src="{{ pub.image.image_path.url }}" class="card-img-top" alt="{{ pub.pet.name }}" style="height:200px; object-fit:cover;">
      {% else %}
      {% endif %}

      <!-- Información de la mascota -->
      <div class="card-body">
        <h5 class="card-title">{{ pub.pet.name }}</h5>
        <p class="card-text">{{ pub.pet.description }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Género: {{ pub.pet.gender }}</li>
        <li class="list-group-item">Edad: {{ pub.pet.age }}</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Adoptar</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
