{% extends "adoptions/plantilla.html" %}
{% block contenido %}
<div class="container py-4">
  <h2 class="text-center mb-4 text-success fw-bold">🐾 Información de la mascota</h2>

  <div class="card shadow-sm p-4">
    <h4 class="mb-3 text-primary">{{ pet.name }}</h4>
    <p><strong>Edad:</strong> {{ pet.age }}</p>
    <p><strong>Raza:</strong> {{ pet.breed }}</p>
    <p><strong>Descripción:</strong> {{ pet.description }}</p>
  </div>

  <div class="mt-4">
    <h5 class="text-secondary">Fotos</h5>
    
    <div class="d-flex flex-wrap gap-3"> 

    {% for photo in photos %}
        <img src="{{ photo.image_path.url }}" alt="Foto de {{ pet.name }}" class="rounded" width="200">
      
    {% endfor %}

    </div>


  </div>

  <div class="container">
    <h1>Formulario de Adopcion</h1>
    <h4>Informacion de adoptante</h4>

    <div class="row">
        <div class="col md-6">
            <label for="">Nombres :</label>
            <input type="text" readonly  class="form-control" value="{{ user.first_name }} ">

        </div>

        <div class="col md-6">
            <label for="">Apellidos :</label>

            <input type="text" readonly class="form-control"  value="{{ user.last_name }} ">

            
        </div>
    </div>
    <div class="row">

        <div class="col md-6">
            <label for=""># Contacto :</label>

            <input type="text" readonly  class="form-control" value="{{ user.phone }} ">
            
        </div>
        
        <div class="col md-6">
            <label for="">Direccion :</label>

            <input type="text" readonly  class="form-control" value="{{ user.address }} ">

            
        </div>
    </div>
    <h4>Contrato de Adopcion</h4>
    <small>*Descargue el siguiente pdf , el mismo que debera subirlo una vez que lo llene*</small>
  <a href="{{ MEDIA_URL }}adoptions/contrato.pdf" class="btn btn-outline-primary" download>
        📄 Descargar contrato de adopción
      </a>    
    <form action="/saveAdoption" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        

        <input type="hidden" name="pet" id="pet" value="{{pet.id}}">
        <input type="file" name="contract" id="contract">

        <button type="submit" class="btn btn-primary">Enviar</button>

    </form>


  </div>
</div>

<script>
  $("#contract_path").fileinput({
    language: "es",
    allowedFileExtensions: ["pdf"],
    showCaption: false,
    dropZoneEnabled: true,
    showClose: false,
    maxFileCount: 1,
    browseClass: "btn btn-primary",
  });
</script>
{% endblock %}
