{% extends "administrator/plantilla.html" %}
{% block contenido %}
 <!-- chat tab ends -->
<div class="container mt-5 mb-5">
  <div class="card shadow-lg rounded-4">
    <div class="card-header bg-success text-white text-center fw-bold">
      <i class="fa fa-user"></i>Perfil de Usuario
    </div>
    <div class="card-body p-4">

      <form method="post" action="/processEditProfileAdm" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
          <label class="form-label fw-bold">Nombres:</label>
          <input type="text" name="first_name" class="form-control" value="{{ user.first_name }}" required>
        </div>

        <div class="mb-3">
          <label class="form-label fw-bold">Apellidos:</label>
          <input type="text" name="last_name" class="form-control" value="{{ user.last_name }}" required>
        </div>

           <div class="mb-3">
          <label class="form-label fw-bold">Número de celular:</label>
          <input type="telefono" name="telefono" class="form-control" value="{{ user.phone }}" required>
        </div>


        <div class="mb-3">
          <label class="form-label fw-bold">Correo electrónico:</label>
          <input type="email" name="email" class="form-control" value="{{ user.email }}" required>
        </div>

        

        <div class="mb-3">
          <label class="form-label fw-bold">Dirección:</label>
          <input type="text" name="address" class="form-control" value="{{ user.address }}">
        </div>


        <div class="mb-3">
          <label class="form-label fw-bold">Nombre de Usuario</label>
          <input type="username" name="username" class="form-control" value="{{ user.username }}" required>
        </div>


        <div class="text-center mb-4">
          {% if user.photo_path %}
            <img src="{{ user.photo_path.url }}" alt="Foto de perfil" 
                 class="rounded-circle border shadow-sm" width="150" height="150">
          {% else %}
            <img alt="Sin foto" 
                 width="150" height="150">
          {% endif %}

          <div class="mt-2">
            <label class="form-label fw-bold">Cambiar foto:</label>
            <input type="file" name="photo_path" id="photo_path" accept="image/*" >
          </div>
        </div>


        <div class="mb-3">
          <label class="form-label fw-bold text-danger">Cambiar contraseña:</label>
          <input type="password" name="new_password" class="form-control" placeholder="Nueva contraseña (opcional)">
          <small class="text-muted">Dejar este campo vacío si no desea cambiarla.</small>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-success px-4">Guardar Cambios</button>
          <a href="/administrador" class="btn btn-secondary px-4">Cancelar</a>
        </div>
      </form>

    </div>
  </div>
</div>


<script>
  $("#photo_path").fileinput({
    language: "es",
    allowedFileExtensions: ["jpg", "jpeg", "png"],
    showCaption: false,
    dropZoneEnabled: true,
    showClose: false,
    maxFileCount: 1,

  });
</script>

<script>
    jQuery.validator.addMethod("noSpace", function(value, element) {
    return value.trim().indexOf(" ") === -1; 
  }, "Por favor, ingrese un nombre de usuario sin espacios");

  $("#frm_edit").validate({
    rules: {
      first_name: { required: true, minlength: 5, maxlength: 50 },
      last_name: { required: true, minlength: 5, maxlength: 50 },
      telefono: { required: true, digits: true, minlength: 10, maxlength: 10 },
      email: { required: true, email: true, minlength: 5, maxlength: 50 },
      address: { required: true, maxlength: 100 },
      username: { required: true, minlength: 4, maxlength: 20,noSpace: true},
      new_password: { minlength: 6, maxlength: 20 },
    },
    messages: {
      first_name: {
        required: "Por favor, ingrese sus nombres",
        minlength: "Por favor, ingrese al menos 5 caracteres ",
        maxlength: "Por favor, ingrese un máximo de 50 caracteres "
      },
      last_name: {
        required: "Por favor, ingrese sus apellidos",
        minlength: "Por favor, ingrese al menos 5 caracteres ",
        maxlength: "Por favor, ingrese un máximo de 50 caracteres "
      },
      telefono: {
        required: "Por favor, ingrese su número de celular",
        digits: "Por favor, ingrese solo números válidos",
        minlength: "Por favor, ingrese exactamente 10 dígitos",
        maxlength: "Por favor, ingrese exactamente 10 dígitos"
      },
      email: {
        required: "Por favor, ingrese su correo electrónico",
        email: "Por favor, ingrese un correo electrónico válido",
        minlength: "Por favor, ingrese al menos 5 caracteres ",
        maxlength: "Por favor, ingrese un máximo de 50 caracteres "
      },
      address: {
        required: "Por favor, ingrese su dirección",
        maxlength: "Por favor, ingrese una dirección con máximo 100 caracteres"
      },
      username: {
        required: "Por favor, ingrese un nombre de usuario",
        minlength: "Por favor, ingrese al menos 4 caracteres ",
        maxlength: "Por favor, ingrese un máximo de 20 caracteres ",
        noSpace: "Por favor, ingrese un nombre de usuario sin espacios"
      },
      new_password: {
        minlength: "Por favor, ingrese una contraseña con al menos 6 caracteres",
        maxlength: "Por favor, ingrese una contraseña con máximo 20 caracteres"
      }
    }
  });
</script>



{% endblock %}


